<li>
  <a href="{{ post.url | absolute_url }}" class="post-link">
    <div class="post-link__heading">
      {% unless post.title == "" %}
          <h1 class="post-link__title">      
            {{ post.title }}
          </h1>
      {% else %}
        {% include post-excerpt.html %}
      {% endunless %}
      {% if post.title != "" and site.show_excerpts == true %}
        {% include post-excerpt.html %}
      {% endif %}
    </div>
    {% assign post_month = post.date | date: "%-m" | plus: 0 %}
    <span class="post-date">
      {{ post.date | date: "%-d" }} {{ site.data.es.months_abbr[post_month] }}, &#39;{{ post.date | date: "%y" }}
    </span>
  </a>
</li>